* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #333;
  margin: 1.5rem 0;
}

header {
  padding: 5rem 10% 4rem;
  background: #a5eae7;
  margin-bottom: 4rem;
}

header h1 {
  font: 900 3.5rem/1 Inconsolata, monospace;
  letter-spacing: -1px;
  color: #2c2a24;
  margin: 0;
}

header h1:nth-of-type(2n) {
  -webkit-text-stroke: #2c2a24;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent;
}

.byline {
  margin-top: 2rem;
  color: #555;
}

h2 {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 800;
}

.idyll-scroll {
  margin-top: 0 !important;
}
.idyll-step {
  padding: 1rem !important;
}
.idyll-scroll-text,
.idyll-step {
  margin: 0 0 50vh !important;
  box-shadow: none !important;
  border: none !important;
}
.idyll-scroll-text {
  padding: 0 0 10vh !important;
}

.address_container {
  color: #eee;
  font-family: Inconsolata, monospace;
  text-align: center;
  margin: 4rem auto;
  background: #222;
  padding: 2rem 5%;
}

.address {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  font-family: Inconsolata, monospace;
}

.address span:after {
  content: ".";
  opacity: 0.75;
}
.address span:last-of-type:after {
  content: "";
}

.binary_address {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.binary_address .number_container {
  display: flex;
  flex-direction: column;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 50px;
  margin: 1px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-tap-highlight-color: transparent;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateY(-21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.power_of_two {
  position: absolute;
  margin-top: 60px;
  margin-left: -22px;
  color: #aaa;
  font-size: 0.9rem;
}

.big_address {
  font-family: Inconsolata, monospace;
  font-size: 2rem;
}

.network {
  color: maroon;
}

.host {
  color: navy;
}

.scrabble {
  display: flex;
  justify-content: center;
  height: 7rem;
}

.scrabble_block_set_container {
  display: inline-block;
}

.scrabble_block {
  display: inline-block;
  height: 25px;
  width: 15px;
  margin: 0 2.5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.bit {
  position: absolute;
  font: 1.25rem/1 Inconsolata, monospace;
  text-align: center;
  margin: 0;
}

.scrabble_label {
  font-size: 1rem;
  line-height: 1.2;
  color: #555;
  margin: 0;
  text-align: center;
  height: 0;
  position: relative;
  top: -2rem;
  text-transform: uppercase;
}

.subnet {
  stroke: white;
}

.marker {
  background: navy;
  border: 1px solid white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.inline_code {
  display: inline-block;
  background: #dedede;
  padding: 0.25rem 0.3rem;
  margin: 0;
  vertical-align: bottom;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
